hidden {
    display:none;
}

.navbar-side {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(66,67,68,1);
    overflow-y: scroll;
    z-index: 1000;
}

.navbar-side-item {
  padding: 1.5rem 0;
  margin: 0;
  height: 5rem;
}

.side-link {
  padding-left: 2rem;
}